<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<link href="/stylesheets/auction.css" rel="stylesheet" type="text/css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="/dashboard">MIAGE AUCTION</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/dashboard">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/auction">Auction</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a href="/users/logout" class="btn btn-outline-success my-2 my-sm-0">Logout</a>
    </form>
  </div>
</nav>

<div class="container">
<form action="/users/auction" method="POST">
      <label for="item">Item Name</label>
      <input
        type="text"
        id="item"
        name="item"
        class="form-control"
        placeholder="Enter the item name"
      required/>
      <label for="desc">Description</label>
      <input
        type="text"
        id="desc"
        name="desc"
        class="form-control"
        placeholder="Enter description"
      required/>
      <label for="price">Starting price</label>
      <input
      type="number"
      id="price"
      name="price"
      class="form-control"
      placeholder="Enter a value"
    required/>
    <label for="images">Pictures (optional)</label></br>
    <input type="file" name="images" accept="image/png, image/jpeg">
    <button type="submit" class="btn btn-primary btn-block">Ajouter</button>
  </form>
</div>
</div>
</div>

<footer class="bg-light text-center text-lg-start fixed-bottom">
  <!-- Copyright -->
  <div class="text-center p-3 bg-light">
    © 2022 Copyright:
    <a class="text-dark" href="#">Master MIAGE - FA </a>
  </div>
  <!-- Copyright -->
</footer>